body{background-image: url("Smiles.jpg");
    background-size: cover;
    background-position: middle;
    background-repeat: no-repeat;
    vertical-align: middle;
    min-height: 100vh;
    position: relative;
  }
  #Foots2 {
  
      margin-top: 45%;
  }
.Options {padding-bottom: 20%;}
.form-container{
    background-color: white;
    width: 250px;
    height: auto;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #000;
    margin: 15% 40%;

}

.form1{
 width: 250px;
 margin-bottom: 20px;
 text-align: centre;

}

.form1 input{
    width: 250px;
    padding: 10px 0px;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: rgb(207, 201, 201);
    margin-bottom: 10px;
}

.form1 input[type="submit"]{
    background-color: black;
    color: white;
}

.form1 input[type="checkbox"]{
    text-align: center;
    margin-left: -110px;
}


.form1 input i{
    margin-left: -100px;
    cursor: pointer;
}

.col .row, .container .row {
    margin-left: -12px;
    margin-right: -12px;
}

.bg-light-grey {
    background-color: #f4f4f6;
}

.pb-40 {
    padding-bottom: 40px;
}
.block {
    position: relative;
    overflow: hidden;
}

footer {
    display: block;
}
body {
    font-family: euclidCircularB;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    color: #2f313f;
}

img {
    border-style: none;
    max-width: 100%;
}
.b {
    text-decoration: none;
    color: inherit;
}

.b:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}