input[type=search] {
    width: 100px;
    box-sizing: border-box;
   border: 5px solid rgb(80, 5, 5); 
    border-radius: 4px;
    font-size: 16px;
    background-color: rgb(243, 235, 235);
    background-image: url('searchicon.png');
    background-position: 5px 5px; 
    background-repeat: no-repeat;
    padding: 5px 10px 5px 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  input[type = search]:focus{
      width: 50%;
      border: 5px solid rgb(4, 99, 9);
  }
  .Special-Button[type = submit]:active{
    background-color: green;
  }
  .SubmitButton[type = submit]{
    background-color:  rgb(80, 5, 5);
    border: none;
    color: white;
    padding: 10px 20px;
    padding-left: 5%;
    padding-right: 5%;
   text-align: center;
    cursor: pointer;
  }
  .Special-Button[type = submit]{
    background-color:  rgb(80, 5, 5);
    border: none;
    color: white;
    padding: 10px 20px;
    
   text-align: center;
    cursor: pointer;
  }
 #Soccer{
     margin-top: 20%;
 }
 .bod{
  font-family: Arial;
  margin: 0;
}
.Header {
  padding: 60px;
  text-align: center;
  background: #660419;
  color: white;}

div.Contain{ 
  text-align: center;

}

